section{
  width: auto;
  min-height: 100svh;
  padding-top:  5rem;
  position: absolute;
  top: 0vh;
  left: 280px;

  .grid{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 80vw;
    max-height: 100svh;

    .top{
        border: 2px solid var(--black);
        width: 100%;
        height: fit-content;
        background-color: #fff;

        .top-card{
            width: 100%;
            display: flex;
            padding: 1.5em 1.5em;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;

            .top-card-left{
                display: flex;
                align-items: center;
                gap: 1rem;

                .wrapper-class{
                    width: 150px;
                    height: 150px;
                    overflow: hidden;
                    padding: .3em;
                    border: 4px solid var(--blue);

                    img{
                      width:  100%;
                      height: 100%;
                      object-fit: cover;
                      object-position: center;
                    }
                }

                .info-header{
                    display: flex;
                    flex-direction: column;

                    h1{
                        font-size: 3.5rem;
                        font-weight: 700;
                        font-style: italic;
                        text-transform: uppercase;
                    }

                    h2{
                        font-size: 2.5rem;
                        color: var(--blue);
                        text-transform: capitalize;
                        word-spacing: -1.2%;
                    }

                    .contacts{
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        .flex-info{
                            display: flex;
                            align-items: center;
                            gap: .5em;

                            p{
                                width: 90%;
                                color: var(--gray);
                                cursor: pointer;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

           .readiness-score {
                 --progress: 91; // Later replace from API
               
                 width: 170px;
                 aspect-ratio: 1;
                 position: relative;
                 border: 1px solid var(--black);
               
                 display: flex;
                 align-items: center;
                 justify-content: center;
               
                 // Progress Ring
                 &::before {
                    content: "";
                    position: absolute;
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    transform: translateY(-15px) scale(1.1);
                  
                    background: conic-gradient(
                      var(--blue) calc(var(--progress) * 1%),
                      rgba(0,0,0,.08) 0
                    );
                  
                    -webkit-mask:
                      radial-gradient(circle,
                        transparent 62%,
                        #000 63%);
                    mask:
                      radial-gradient(circle,
                        transparent 62%,
                        #000 63%);
                  }
                 // Creates the hole in the middle
                 &::after {
                   content: "";
                   position: absolute;
                   width: 100px;
                   height: 100px;
                   border-radius: 50%;
                   background: white; // Match card background
                 }
               
                 h1 {
                   position: relative;
                   z-index: 2;
                   font-size: 2.3rem;
                   font-weight: 700;
                   transform: translateY(-15px);
                 }
               
                 h4 {
                   position: absolute;
                   bottom: 12px;
                   left: 50%;
                   transform: translateX(-50%);
                   z-index: 2;
               
                   color: var(--blue);
                   white-space: nowrap;
                   font-size: 0.85rem;
                   letter-spacing: 0.08em;
                 }
               }
        }
    }

    .bottom{
        width: 100%;
        display: grid;

        grid-template-columns: 2.5fr 2fr;
        grid-template-rows: repeat(2, .5fr);
      
        gap: 2rem;

        .bio{
            padding: 1.5em 1.5em;
            border: 2px solid var(--black);
            display: flex;
            flex-direction: column;
            gap: 1rem;
            height: max-content;
            background-color: #fff;

            .bio-top{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .description{
                p{
                    color: var(--gray);
                    font-size: 16px;
                }
            }
        }

        .acadmics{
            padding: 1.5em 1.5em;
            border: 2px solid var(--black);
            display: flex;
            flex-direction: column;
            gap: .5rem;
            height: max-content;
            background-color: #fff;

            .acm-top{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .acms{
                display: flex;
                flex-direction: column;
                gap: .5rem;
                

                .acm{
                    h4{
                        text-transform: capitalize;
                        color: var(--gray);
                        font-weight: 300;
                    }

                    p{
                        color:  var(--blue);
                    }
                }
            }
        }

        .stack{
            padding: 1.5em 1.5em;
            border: 2px solid var(--black);
            display: flex;
            flex-direction: column;
            gap: .5rem;
            height: max-content;
            background-color: #fff;

            .stack-top{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }

        .audit{
            padding: 1.5em 1.5em;
            border: 2px solid var(--black);
            display: flex;
            flex-direction: column;
            gap: .8rem;
            height: max-content;
            background-color: #fff;

            .audit-top{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .audit-result{
                display: flex;
                justify-content: space-between;
                position: relative;

                p{
                    color: var(--blue)
                }
            }

        }
    }
  }
}